<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>JavaScript boilerplate</title>
    <meta name="description" content="JavaScript boilerplate." />
    <meta name="keywords" content="boilerplate,javascript, vanilla js, vanilla javascript" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>

  <body>
    <div class="layout">

      <main>
        <div class="container">
          <div class="row">
            <div class="button" id="hello">Hello</div>
            <div class="main-content col-md-6 col-sm-12">
              Welcome to JavaScript boilerplate
            </div>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright ©JavaScript boilerplate 2021. All Rights Reserved</p>
      </footer>
    </div>

  </body>

</html>
